.portfolio-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 20%;
	padding-top: 8%;
	padding-bottom: 5%;
	
}
.portfolio-header {
	padding-left: 40px;
	font-size: 80px;
	text-align: left;
	font-weight: bold;
	color: #0f0f0f;	
	font-family: "Poppins";
}

.portfolio-desc {
	display: grid;
	grid-template-columns: 1fr 1fr;
	overflow: hidden;
	padding-top: 40px;
	width: 80%;
}

.portfolio-exp {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	
}
.portfolio-exp-header {
	font-size: 50px;
	font-family: "Poppins";
	font-weight: bold;
	padding-left: 40px;
	color: #7989ac;
}

.portfolio-exp-content {
	position: relative;
}

.portfolio-exp-bullet-points {
	padding-top: 50px;
	display: block;
	justify-content: left;
}

.portfolio-exp-bullet {
	position: relative;
	margin-bottom: 36px;
	padding-left: 40px;
	width: 100%;
}

.portfolio-exp-bullet::before {
	content: "";
	background: rgb(255, 255, 255);
	position: absolute;
	left: 0px;
	top: 7px;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	border: 3px solid #7989ac;
	z-index: 60;
	transition: transform 0.4s ease 0s;
	transform: scale(1);
}
.portfolio-exp-bullet::after {
	width: 3px;
	height: calc(100% + 36px);
	content: "";
	position: absolute;
	left: 8px;
	top: 8px;
	z-index: 2;
	background:#7989ac;
	transform: scaleY(0);
	transition: transform 0.4s ease 0s;
	transform-origin: center top;
	transform: scaleY(1);
}

.portfolio-exp-title {
	font-family: "Poppins";
	font-size: 24px;
	font-weight: bold;
	text-align: left;
}

.portfolio-exp-location-and-date {
	font-family: "Poppins";
	font-size: 20px;
	text-align: left;
	padding-top: 5px;
	color: rgb(167, 167, 167);
}

.portfolio-exp-desc {
	font-family: "Poppins";
	font-size: 20px;
	color: #838c95;
	text-align: left;
}

.portfolio-exp-bullet-end {
	position: relative;
	margin-bottom: 36px;
	padding-left: 40px;
}

.portfolio-exp-bullet-end::before {
	content: "";
	background: rgb(255, 255, 255);
	position: absolute;
	left: 0px;
	top: 7px;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	border: 3px solid #7989ac;
	z-index: 60;
	transition: transform 0.4s ease 0s;
	transform: scale(1);
}

.portfolio-edu {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.portfolio-edu-header {
	display: block;
	font-size: 50px;
	font-family: "Poppins";
	font-weight: bold;
	color: #7989ac;
	padding-left: 40px;
}

.portfolio-edu-content {
	display: block;
	position: relative;
}

.portfolio-edu-title {
	font-family: "Poppins";
	font-size: 24px;
	font-weight: bold;
	text-align: left;
}

.portfolio-edu-school {
	color: rgb(167, 167, 167);
	text-align: left;
	font-family: "Poppins";
	font-weight: bold;
	font-size: 20px;
}

.portfolio-edu-date {
	font-family: "Poppins";
	font-size: 20px;
	text-align: left;
	padding-top: 5px;
	color: rgb(167, 167, 167);
}

.portfolio-edu-desc {
	font-family: "Poppins";
	font-size: 20px;
	color: #838c95;
	text-align: left;
}
