.top-nav-bar {
	display: flex;
	flex-direction: row;
	list-style: none;
	justify-content: flex-end;
	height: 100%;
}

.top-nav-bar > li {
	margin-right: 50px;
}

.link-name {
	font-family: "Poppins";
	font-weight: normal;
	font-size: 20px;
	color: #ffffff;
	text-decoration: none;
}
.link-ref {
	text-decoration: none;
	color: #ffffff;
}

.top-nav-bar-container {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}
.my-intro-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
	position: absolute;
	top: 0;
	right: 20%;
	width: 60%;
}

.pic-wrapper {
	width: 35%;
	height: 35%;
}
.my-own-pic {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.my-desc {
	display: flex;
	flex-direction: column;
	padding-left: 3%;

}
.my-name {
	text-align: start;
	font-family: "Poppins";
	font-weight: bold;
	font-size: 60px;
	color: #ffffff;
	border-bottom: 3px solid #ffffff;
}


.my-major {
	font-family: "Poppins";
	font-size: 30px;
	color: #ffffff;
}
.my-links {
}

ion-icon {
	color: #ffffff;
	z-index: 1;
	font-size: 64px;
}
ion-icon:hover {
	animation: bounce 1s;
	color: black;
}
.my-links-container {
	display: flex;
	flex-direction: row;
	list-style: none;
	justify-content: flex-start;
	margin-top: 20px;
}

.my-links-container > li {
	margin-right: 20px;
	text-decoration: none;
}

@keyframes bounce {
	0%,
	20%,
	60%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
