.top-nav-bar {
	display: flex;
	flex-direction: row;
	list-style: none;
	justify-content: flex-end;
}

.top-nav-bar > li {
	margin-right: 50px;
}

.link-name {
	font-family: "Poppins";
	font-weight: bold;
	font-size: 32px;
	color: #ffffff;
}

.top-nav-bar-container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
}
.my-intro-container {
	position: absolute;
	top: 0;
	right: 0;
	width: 60%;
	margin: 250px 500px 500px 800px;
	display: flex;
}

.pic-wrapper {
	width: 450px;
	height: 450px;
}
.my-own-pic {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.my-desc {
	display: flex;
    flex-direction: column;
    margin-left: -50px;
    margin-top: 50px;
}
.my-name {
	text-align: start;
	height: 100px;
	font-family: "Poppins";
	font-weight: 300;
	font-size: 80px;
	color: #ffffff;
	margin-top: 140px;
	margin-left: 110px;
	border-bottom: 3px solid #ffffff;
	line-height: 1.6px;
}

.my-major {
    margin-left: 110px;
	font-family: "Poppins";
	font-size: 30px;
	color: #ffffff;
}

.my-links {

}

.my-links-container {
    display: flex;
	flex-direction: row;
	list-style: none;
    justify-content: center;
    margin-left: 50px;
    color: white;
    margin-top: 20px;
}

.my-links-container > a {
    margin-right: 20px;
}