.contact-container {
	
	display: flex;
	flex-direction: column;
	padding-left: 30%;
	padding-top: 60px;
	padding-bottom: 100px;
	background: #ffffff;
	align-items: flex-start;
}
.contact-header {
	align-self: flex-start;
	font-size: 70px;
	text-align: left;
	font-weight: bold;
	color: #7989ac;
	font-family: "Poppins";
	padding-bottom: 30px;
}
.contact-friendly-msg {
	text-align: center;
	padding-bottom: 40px;
	font-size: 40px;
	text-align: left;
	font-weight: bold;
	color: #7989ac;
	font-family: "Poppins";
}
.contact-form {
	width: 35%;
	padding: 80px;
	background: rgb(255, 255, 255);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px 0px;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	z-index: 2;
}

.contact-input {
	flex: 0 1 100%;
	box-sizing: border-box;
	margin-top: 20px;
	position: relative;
	padding-right: 0px;
}

.input-name {
	width: 100%;
	color: rgb(66, 66, 66);
	font-weight: bold;
	font-size: 24px;
	border-top: none;
	border-right: none;
	border-left: none;
	border-image: initial;
	border-bottom: 2px solid rgba(99, 178, 255, 0.34);
	margin-bottom: 25px;
	outline: 0px;
	line-height: 36px;
	padding: 1px 2px;
	cursor: pointer;
}
.input-name-label {
	font-family: "Poppins";
	color: #7989ac;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 24px;
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	margin: auto;
	pointer-events: none;
	transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0s;
	transform-origin: left center;
	transform: translateY(5px);
}
.input-mail {
	width: 100%;
	color: rgb(66, 66, 66);
	font-weight: bold;
	font-size: 24px;
	border-top: none;
	border-right: none;
	border-left: none;
	border-image: initial;
	border-bottom: 2px solid rgba(99, 178, 255, 0.34);
	margin-bottom: 25px;
	outline: 0px;
	line-height: 36px;
	padding: 1px 2px;
	-webkit-writing-mode: horizontal-tb !important;
	text-rendering: auto;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
	appearance: textfield;
	cursor: pointer;
}
.input-mail-label {
	color: #7989ac;
	font-family: "Poppins";
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 24px;
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	margin: auto;
	pointer-events: none;
	transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0s;
	transform-origin: left center;
	transform: translateY(5px);
}
.input-message {
	width: 100%;
	color: rgb(66, 66, 66);
	font-weight: bold;
	font-size: 24px;
	border-top: none;
	border-right: none;
	border-left: none;
	border-image: initial;
	border-bottom: 2px solid rgba(99, 178, 255, 0.34);
	margin-bottom: 25px;
	outline: 0px;
	height: 100px;
	padding: 0px;
	cursor: pointer;
}
.input-message-label {
	font-family: "Poppins";
	color: #7989ac;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 24px;
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	margin: auto;
	pointer-events: none;
	transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0s;
	transform-origin: left center;
	transform: translateY(5px);
}
.contact-button-area {
	flex: 0 1 100%;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	flex-wrap: wrap;
}
.contact-save-button {
	border: none;
	border-radius: 44px;
	color: rgb(255, 255, 255);
	font-size: 24px;
	padding: 5px 40px;
	flex: 0 1 0%;
	outline: 0px;
	height: 50px;
	margin-left: auto;
	background-color: #7989ac;
	font-family: "Poppins";
	cursor: pointer;
	transition: all 0.4s;
}
.contact-links {
	display: flex;
	align-items: flex-start;
}
.contact-generic-container {
	padding-top: 26px;
	padding-right: 26px;
}
.contact-img {
	width: 80px;
	height: 80px;
	object-fit: contain;
}
.contact-img:hover {
	transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
}
