.about-container {
	position: relative;
	width: 100%;
	margin-right: -100px;
	height: 450px;
	overflow: hidden;
}
.svg {
	
}
.about-intro-container {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 100px;
}

.about-hello {
	font-family: "Poppins";
	font-size: 80px;
	text-align: left;
	font-weight: bold;
	color: rgb(99, 178, 255);
}
.about-desc {
	font-family: "Poppins";
	font-size: 30px;
	text-align: left;
	font-weight: normal;
	word-wrap: break-word;
	color: #ffffff;
}
