
.about-container {
	position: relative;

	overflow: hidden;

}
.about-intro-container {
	position: absolute;
	top: 0px;
	left: 3%;
	z-index: 1;
}

svg {
	z-index: -1;
}

.about-hello {
	font-family: "Poppins";
	font-size: 80px;
	text-align: left;
	font-weight: bold;
	color: #ffffff;
}
.about-desc {
	font-family: "Poppins";
	font-size: 26px;
	text-align: left;
	font-weight: normal;
	word-wrap: break-word;
	color: #ffffff;
	padding-bottom: 30px;
}
.resume-button {
	border: none;
	border-radius: 44px;
	color: white;
	font-size: 15px;
	outline: 0px;
	height: auto;
	background-color: #77aab4;
	font-family: "Poppins";
	cursor: pointer;
	display: inline-block;
	transition: all 0.4s;
	padding: 20px 30px;
}
